.embla2 {
  width: 60%;
  height: 90%;
  --slide-spacing: 2rem;
  --slide-size: 230px;
  position: relative;
}
.embla__viewport2 {
  overflow: hidden;
}
.embla__container2 {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide2 {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number2 {
  border: 0.2rem solid var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 200px;
  user-select: none;
}

.embla__slide__number2 img {
  border-radius: 1rem;
  height: 62%;
  width: 85%;
}

.embla__slide__number2 p {
  align-self: flex-start;
  margin-left: 8%;
}






.embla__controls2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  height: 10%;
}
.embla__buttons2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  
}
.embla__button2 {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  position: absolute;
  z-index: 101;
}
.embla__button3 {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #aaa;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid #aaa;
  width: 1.8rem;
  height: 1.8rem;
  z-index: 1;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  margin-right: 8px;
}
.embla__button--disabled2 {
  display: none;
}
.embla__button__svg2 {
  width: 35%;
  height: 35%;
}
.embla__button__svg3 {
  width: 60%;
  height: 60%;
}
.embla__progress2 {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 90%;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar2 {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
